
@import '../../theme/_variables.css';

.header {
    background-color: var(--secondary-color);
    height: 50px;
    width: 100%;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    display: block;
    margin: 0 10px 0 0;

    li a {
        color: black;
    }

    li:hover {
        background-color: var(--secondary-color);
        color: white !important;
        text-decoration: none;
    }
}

.dropdown-menu li:hover {
    background-color: var(--secondary-color);
    color: white !important;
}